:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

/* Color Variables */
  color: #0f0f0f;
  background-color: var(--tan);
  --brunswick-green: #344E41;
  --dark-green: #588157;
  --light-green: #a3b18a;
  --tan: #dad7cd;
  --white: #ffffff;
  --orange: #ff4a1c;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
button {
  background-color: var(--brunswick-green);
  color: var(--white);
  border: none;
  border-radius: 0.5vh;

}
button:hover {
  background-color: var(--dark-green);
}
h1 {
  text-align: center;
}
h3 {
  color: var(--brunswick-green);
}
a {
  text-decoration: none;
}
.display-name {
  grid-column: 1;
  text-align: left;
  border: 1px solid var(--dark-green);
  padding-left: 5px;
}
.add-icon-link {
  color: var(--dark-green);
  /* padding: 0.5em; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
}
.active.icon-link {
  color: var(--light-green);
}
.icon-link {
  color: var(--tan);
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-block {
  display: flex;
  flex-direction: column;
  align-items: left;
  max-width: 300px;
  padding: 20px;
  margin: 20px;
  text-align: left;
}
.input-card {
  display: flex;
  flex-direction: column;
  margin: 0 0 1rem 0;
}
.row {
  display: flex;
  justify-content: center;
}
.relationshipPage {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 1fr;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #0f0f0f69;
  }
}
